doctype
html(lang="en")
	head
	meta(charset="UTF-8")
	title Coffee
	link(rel="stylesheet", href="css/style.css")
body
	script(src="http://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.2.0/snap.svg-min.js")
	script(src="js/main.js")
